# Dependency directories
node_modules/

# Environment variables
.env

# Source directories
dist/

# Test directories
test/
coverage/

# Build scripts
addtype

# Babel
babel.config.js

# TypeScript
tsup.config.ts
tsconfig.json
tsconfig-cjs.json
tsconfig-base.json